@model IRNA.Web.ViewModels.CommentListVM
@using IRNA.Web.Services
<div class="comments-cards">
    @foreach (var item in Model.list)
    {
        
        var date = (new DateTime(1970, 1, 1)).AddMilliseconds(item.sendTime);
        <div class="comment-card">
            <span class="bi bi-person-fill"></span>
            <div class="comment-section">
                <span class="info">
                    <span>@item.name</span>
                    <span class="vr"></span>
                    <span>@item.sendTime.ToShamsi()</span>
                    <span class="vr"></span>
                    <span>ساعت @item.sendTime.ToShamsi('h')</span>
                </span>
                <span class="comment">@item.body</span>
            </div>
            @*<div class="buttons">
                <button class="btn rounded-circle">
                    <span class="bi bi-hand-thumbs-up"></span>
                </button>
                <span>@item.numberOfLikes</span>
                <button class="btn rounded-circle">
                    <span class="bi bi-hand-thumbs-down"></span>
                </button>
                <span>@item.numberOfDislikes</span>
            </div>*@
        </div>
    }
</div>