@model IRNA.Web.ViewModels.RootContentDetailsVM
@{
    ViewBag.Title = Model.vodResult.defaultTitle;
}
 
@section Styles {
    <link href="@Url.Content("~/Assets/css/movie-detail.css")" rel="stylesheet" type="text/css" /> 
}

<main class="wraper pb-3">
    <!-- movie intro -->
    <div class="movie-intro">
        @*<img class="main-img d-lg-none" 
             src="~/Assets/images/best-of-Marvel-2021-Header.jpg"
             alt="khejalat nakesh" />*@
        <div class="bg-img " style="direction:ltr">
            <img class="d-none d-lg-inline-block main-img-d"
                 src="@($"{Settings.BaseUrl}iptv/irna/rest/v2/images/downloadGalleryImage" +
                    $"?type=content&id={Model.vodResult.id}&code={Settings.ContentDetailsBannerCode}&position=0")"
             />
            @*<img class="d-none d-lg-inline-block main-img-d"
                 src="@($"{IRNA.Web.Services.Settings.BaseUrl}iptv/irna/rest/v2/images/downloadGalleryImage" +
                    $"?type=content&id={Model.vodResult.id}&code=300x400&position=0")" />*@
        </div>
        <div class="movie-intro-content">
            <h2 class="text-center text-light order-0 order-lg-2">@(Model.vodResult?.name)</h2>
            <p>@(Model.vodResult?.defaultTitle)</p>
            <p class="text-center text-lg-start text-light text order-1 order-lg-3">
                @Model.vodResult.description
            </p>
            <div class="btn-container order-2 order-lg-4">
                <form action="/Content/display" method="post">  
                    <input id="Id" name="Id" hidden value="@Model.vodResult.id" type="number" />
                <button type="submit" class="btn rounded-pill bg-gold text-dark" >پخش فیلم</button>
                </form>
                <a class="btn rounded-pill bg-dark text-warning" >پیش نمایش</a>
          
            </div>
            <div class="detail order-3 order-lg-0">
                <span class="text-light">@(Model.vodResult.totalDuration) دقیقه </span>
                <span class="vr text-light"></span>
                <span class="text-light">@Model.vodResult.date</span>
                <span class="vr text-light"></span>
                <span class="text-light">
                    @Model.stats.numberOfViews  <span class="bi bi-eye"></span>
                            </span>
                <span class="vr text-light"></span>
                <span class="text-light">
                    @(Model.vodResult.rate.userRate)% <span class="bi bi-heart"></span>
                </span>
            </div>
            <div class="age-group text-light order-4 order-lg-1">
                <span class="badge bg-warning rounded-pill text-dark">گروه سنی</span>
                @Model.vodResult.ageGroup.text
            </div>
            <div class="age-group text-light order-4 order-lg-1">
                <span class="badge bg-warning rounded-pill text-dark">محصول</span>
                @Model.vodResult.country.text
            </div>
            @*<div class="stars d-none d-lg-flex order-5">
                <span>ستارگان</span>
                <span>احمد مهران فر</span>
                <span>شبنم مقدمی</span>
                <span>لیندا کیانی</span>
            </div>*@
            <div class="agents d-none d-lg-flex">
                <span>@Model.vodResult.castAndCrew.Split(':')[0]:&nbsp;</span>
                <span>@Model.vodResult.castAndCrew.Split(':')[1]</span>
            </div> 
            <div class="ganra d-none d-lg-flex">
                @foreach (var item in Model.vodResult.tags)
                {
                    <button class="btn badge text-light"><small>@item.title</small></button>
                }
            </div>
        </div>
    </div>
    <!-- movie intro -->
    <!-- images and detail of movie -->
    <div class="movie-images">
        <div class="headshaprtl">
            <h2 class="text-light h5 title">
                <span>تصاویر و جزئیات فیلم</span>
                <span>
                    <button class="btn rounded-circle">
                        <span class="bi bi-hand-thumbs-up text-light"></span>
                    </button>
                    <button class="btn rounded-circle">
                        <span class="bi bi-hand-thumbs-down text-light"></span>
                    </button>
                </span>
            </h2>
        </div>
        <a href="#" class="nav-link text-light view-all">مشاهده همه</a>
        @Model.vodResult.gallery.types.FirstOrDefault(t => t.code == Settings.ContentDetailsGalleryCode).numberOfFiles
        <div class="movie-images-slider-container">
            <div class="swiper movie-images-slider">
                <div class="swiper-wrapper">
                    @for (int i = 0; i < Model.vodResult.gallery.types.FirstOrDefault(t => t.code == Settings.ContentDetailsGalleryCode).numberOfFiles; i++)
                    {
                        <div class="swiper-slide">
                            <a href="" class="movie-images-slide-link nav-link text-light">
                                <img src="@($"{Settings.BaseUrl}iptv/irna/rest/v2/images/downloadGalleryImage" +
                    $"?type=content&id={Model.vodResult.id}&code={Settings.ContentDetailsGalleryCode}&position={i}")" alt="" />
                                @*<span></span>*@
                            </a>
                        </div>
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!-- images and detail of movie -->
    <!-- about movie -->
    @if (string.IsNullOrEmpty(Model.vodResult.criticize))
    {
        <div class="about-movie">
            <h3 class="text-light">درباره</h3>

            <p class="text-light text-truncate">
                @Model.vodResult.criticize
            </p>
        </div>
    }
    <!-- prize movie -->
    @if (Model.vodResult.prizes.Any() && Model.vodResult.prizes != null)
    {
        <div class="movie-agents">
            <h3 class="text-light">
                <span>جوایز</span>
                <span></span>
            </h3>
            <div class="agents-cards">
                @foreach (var item in Model.vodResult.prizes)
                {
                    <div class="agent-card">
                        <span class="text-light">@item.title</span>
                    </div>
                }
            </div>
        </div>
    }
    <!-- prize movie -->
    <!-- providers movie -->
    @if (Model.vodResult.providers.Any() && Model.vodResult.providers != null)
    {
        <div class="movie-agents">
            <h3 class="text-light">
                <span>تهیه کنندگان</span>
                <span></span>
            </h3>
            <div class="agents-cards">
                @foreach (var item in Model.vodResult.providers)
                {
                    <div class="agent-card">
                        <span class="text-light">@item.title</span>
                    </div>
                }
            </div>
        </div>
    }
    <!-- providers movie -->
    <!-- actors -->
    @*<div class="actors">
            <h3 class="text-light">
                <span>بازیگران فیلم خجالت نکش</span>
                <span></span>
            </h3>
            <div class="actors-cards">
                <div class="actor-card">
                    <img src="./images/ahmad.jpg" alt="" />
                    <span class="text-light">احمد مهرانفر</span>
                    <span class="text-white-50">بازیگر</span>
                </div>
                <div class="actor-card">
                    <img src="./images/shabnam.jpg" alt="" />
                    <span class="text-light">شبنم مقدمی</span>
                    <span class="text-white-50">بازیگر</span>
                </div>
                <div class="actor-card">
                    <img src="./images/elnaz.jpg" alt="" />
                    <span class="text-light">لیندا کیانی</span>
                    <span class="text-white-50">بازیگر</span>
                </div>
                <div class="actor-card">
                    <img src="./images/shohrelorestan.jpg" alt="" />
                    <span class="text-light">شهره لرستانی</span>
                    <span class="text-white-50">بازیگر</span>
                </div>
                <div class="actor-card">
                    <img src="./images/habibi.jpg" alt="" />
                    <span class="text-light">الناز حبیبی</span>
                    <span class="text-white-50">بازیگر</span>
                </div>
                <div class="actor-card">
                    <img src="./images/kave.jpg" alt="" />
                    <span class="text-light">کاوه آهنگر</span>
                    <span class="text-white-50">بازیگر</span>
                </div>
                <div class="actor-card">
                    <img src="./images/sam.jpg" alt="" />
                    <span class="text-light">سام درخشانی</span>
                    <span class="text-white-50">بازیگر</span>
                </div>
                <div class="actor-card">
                    <img src="./images/alisalehi.jpeg" alt="" />
                    <span class="text-light">علی صالحی</span>
                    <span class="text-white-50">بازیگر</span>
                </div>
            </div>
        </div>*@
    <!-- actors -->
    <!-- other movie agents -->
    <div class="movie-agents">
        <h3 class="text-light">
            <span>عوامل </span>
            <span></span>
        </h3>
        <div class="agents-cards">
            @*<div class="agent-card">
            <span class="text-white-50">@Model.vodResult.castAndCrew.Split(':')[0]</span>
            <span class="text-light">@Model.vodResult.castAndCrew.Split(':')[1]</span>
        </div>*@
            @foreach (var item in Model.vodResult.roles)
            {
                <div class="agent-card">
                    <span class="text-white-50">@item.roleTitle</span>
                    <span class="text-light">@item.title</span>
                </div> 
            }
        </div>
    </div>
    <!-- other movie agents -->
    <!-- sugested movies slider -->
    @Html.Action("SuggestedContents", "Home", new { keyword = Model.vodResult.defaultTitle, Id = Model.vodResult.id })
    <!-- latest movies -->
    <!-- users comments -->
    <div class="user-comments">
        <h3 class="text-light">
            <span>نظرات کاربران</span>
            <span></span>
        </h3>
           &nbsp;&nbsp;&nbsp; <label class="text-light" id="cmdres"></label>
        <div class="submit-comment">
            <span class="bi bi-person-fill"></span>
            <form method="post">
                <input id="id" type="number" value="@Model.vodResult.id" hidden />
                <input class="form-controle text-light" id="body" name="body"
                       type="text"
                       placeholder="دیدگاه شما درباره @Model.vodResult.name" />
                <button type="button" id="comment" class="btn rounded-pill text-dark">ارسال</button>
            </form>
        </div>
        @Html.Action("Comments", new { id = Model.vodResult.id })
    </div>
    <!-- users comments -->
</main>

@section Scripts{
    <script src="~/Assets/js/movie-detail.js"></script>
    }