<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Irna film | @ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/node_modules/bootstrap/dist/css/bootstrap.rtl.css" />
    <link rel="stylesheet" href="~/Assets/node_modules/bootstrap-icons/font/bootstrap-icons.css" />
    <!-- Bootstrap CSS -->
    <!-- swiper css -->
    <link rel="stylesheet" href="~/Assets/node_modules/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="~/Assets/css/main.css" />
    <link rel="stylesheet" href="~/Assets/css/collections.css" />
     
    @RenderSection("Styles", false)
</head>
<body style="width:100%">
    <div class="irna-overlay" id="irna-main-overlay" hidden>
        <div id="irna-spinner" class="irna-spinner"></div>
    </div>

    <!-- navbar section -->
    @Html.Partial("_TopNav")
    <!-- navbar section end -->
    <!-- main section -->
    @RenderBody()

    <!-- footer section -->
    @Html.Partial("_Footer")


    
    <!-- Bootstrap js -->
    <script src="~/Assets/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- swiper js -->
    <script src="~/Assets/node_modules/swiper/swiper-bundle.js"></script>
    <!-- jquey -->
    <script src="~/Assets/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- main js -->
    <script src="~/Assets/js/main.js"></script>

    <script> 
            function confirm(msg, callback) {
                $('#confirm')
                    .jqmShow()
                    .find('p.jqmConfirmMsg')
                    .html(msg)
                    .end()
                    .find(':submit:visible')
                    .click(function () {
                        if (this.value == 'Proceed') {
                            $.cookie("agreed_to_terms", '1', { expires: 1, path: '/' }); //set cookie, expires in 365 days
                            (typeof callback == 'string') ?
                                window.location.href = callback :
                                callback();
                        }
                        $('#confirm').jqmHide();
                    });
            }


        $().ready(function () {
            //$('#confirm').jqm({ overlay: 88, modal: 'true', trigger: false });

            // trigger a confirm whenever links of class alert are pressed.
            $('a.confirm').click(function () {
                if ($.cookie('agreed_to_terms') == '1') {
                    window.location.href = callback =
                        callback()
                    //they already have cookie set
                } else {
                    confirm('About to visit: ' + this.href + ' !', this.href);
                }
                return false;
            });
        });
    </script>


    @RenderSection("Scripts", false)
    <script>
        $(window).bind("pageshow", function (event) {
            document.getElementById("irna-spinner").className = "";
            document.getElementsByClassName("irna-overlay")[0].className = "";

        });
    </script>

</body>
</html>

