
@{
    ViewBag.Title = "خانه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="wraper py-3">
    <!-- main slider -->
    @Html.Action("Slider")
    <!-- main slider -->
    <!-- irna-24 slider -->
    @Html.Action("RandomContents")
    <!-- irna-24 slider -->
    <!-- adds slider -->
    @Html.Action("AdsContents")
    <!-- adds slider -->
    <!-- filter section -->
 @Html.Action("FilterContents")
    <!-- filter section -->
    
    <!-- latest movies slider -->
    @Html.Action("LatestContents")
    <!-- latest movies -->
    
    <!-- events slider -->
     @Html.Action("EventsContents")
    <!-- events movies -->

    <!-- special section -->
    <!--<div class="special-container mt-lg-4">
        <div class="special-content">
            <img src="./images/siavash.png" alt="sivash" />
            <a href="#" class="btn btn-preview text-light">پیش نمایش</a>
            <a href="#" class="btn btn-episodes text-light">قسمت ها</a>
        </div>
    </div>-->
    <!-- special section -->
    <!-- oskar movies slider -->
    <!--<div class="oskar-movies-slider-container">
        <div class="head">
            <h2 class="h5 text-light m-0">اسکار 2021</h2>

            <a href="#" class="nav-link text-light view-all">مشاهده همه</a>
        </div>
        <div class="swiper oskar-movies-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="oskar-movies-content text-light nav-link">
                        <img src="./images/Muddy.jpg" alt="" />
                        <span>فیلم مادی</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="oskar-movies-content text-light nav-link">
                        <img src="./images/Tuck-Everlasting-2002-No.jpg" alt="" />
                        <span>فیلم تاک اور لستین</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="oskar-movies-content text-light nav-link">
                        <img src="./images/Munich-The-Edge-of-War.jpg" alt="" />
                        <span>فیلم مونیخ در اغاز جنگ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>-->
    <!-- oskar latest movies -->
</main>
